<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <!--변수 선언-->
    <h1>{{uesrname}}님, 반갑습니다.</h1>
</body>
</html>